div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.new_price {
    font-size: 30px;
    font-weight: 600;
    color: #38bd38;
    text-align: center;
    margin-top: 15px;
}