ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative;}
ul.left-menu li{padding:10px 16px;background:#F5F5F5 url(images/left_menu_bg.gif) top repeat-x;}
ul.left-menu li a{font-size:100%;color:#BC262C;font-weight:bold;text-decoration:none;}
ul.left-menu li a:visited{color:#BC262C;}
ul.left-menu li a:hover{color:#BC262C;}
ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover{color:#FC8D3D;}
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul{margin:0;padding:0;min-height:27px;width:100%;list-style:none;font-size:11px;float:left;}
#horizontal-multilevel-menu{}
#horizontal-multilevel-menu a{display:block;text-decoration:none;text-align:center;}
#horizontal-multilevel-menu li{position:relative;}
#horizontal-multilevel-menu li a.root-item{}
#horizontal-multilevel-menu li a.root-item-selected{}
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item{}
#horizontal-multilevel-menu a.parent{}
#horizontal-multilevel-menu a.denied{}
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover{}
#horizontal-multilevel-menu li.item-selected{}
#horizontal-multilevel-menu li ul{position:absolute;top:auto;display:none;z-index:500;height:auto;min-width:147px;width:auto;background:#DABD4F;}
#horizontal-multilevel-menu li li{width:100%;border-bottom:1px solid #DEDEDE;}
#horizontal-multilevel-menu li ul a{text-align:left;}
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a{}
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a{}
#horizontal-multilevel-menu li ul ul{margin:-27px 0 0 132px;}
#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul{display:none;}
#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul{display:block;}
div.menu-clear-left{clear:left;}