@media (max-width: 479px)
{
    /*------------
        Header
    ------------*/
    header .logo,
    header .logo img
    {
        height: 40px;
    }


    header .phones .icon
    {
        display: none;
    }

    header .phones .main_number,
    header .phones .phone
    {
        font-size: 14px;
    }

    header .phones .mini_modal
    {
        width: 215px;
    }


    header .mob_menu_btn
    {
        width: 46px;
        margin-left: 0;
    }



    /*---------------
        Page head
    ---------------*/
    .breadcrumbs
    {
        font-size: 11px;
        line-height: 15px;
    }



    /*-------------------
        Category info
    -------------------*/
    .cont
    {
        padding: 0 10px;
    }



    /*-----------------------------------
        Category info - Category name
    -----------------------------------*/
    .category_info .category_name
    {
        font-size: 22px;
        line-height: 26px;
    }


    /*------------------------------
        Category info - Sub cats
    ------------------------------*/
    .category_info .sub_cats
    {
        margin-left: -6px;
    }

    .category_info .sub_cats > *
    {
        max-width: calc(100% - 6px);
        margin-bottom: 6px;
        margin-left: 6px;
    }

    .category_info .sub_cats a
    {
        font-size: 12px;
        line-height: 14px;

        padding: 9px 9px 7px;
    }



    /*------------------------------
        Category info - Products
    ------------------------------*/
    .category_info .products .product
    {
        padding: 9px 9px 19px;
    }


    .category_info .products .product .thumb
    {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }


    .category_info .products .product .price
    {
        font-size: 13px;
        line-height: 15px;

        top: 18px;
        right: 18px;

        padding: 11px 15px 9px;
    }


    .category_info .products .product .name
    {
        font-size: 15px;
        line-height: 19px;
    }


    .category_info .products .product .links a
    {
        font-size: 13px;
        line-height: 15px;

        width: calc(50% - 5px);
        padding: 10px;
    }



    /*--------------------------------
        Category info - Pagination
    --------------------------------*/
    .category_info .pagination > * + *
    {
        margin-left: 4px;
    }


    .category_info .pagination a,
    .category_info .pagination .sep
    {
        font-size: 12px;
        line-height: 28px;

        width: 26px;
        height: 26px;
    }



    /*---------------------------------
        Category info - Action form
    ---------------------------------*/
    .category_info .action_form .block_title
    {
        font-size: 18px;
        line-height: 22px;
    }

    #buy-form .action_form .form .line,
    .category_info .action_form .form .line,
    .category_info .action_form .form .submit
    {
        width: calc(100% - 20px);
    }



    /*--------------------------------
        Category info - Text block
    --------------------------------*/
    .category_info .text_block h2
    {
        font-size: 17px;
        line-height: 23px;

        margin-bottom: 20px;
    }



    /*-----------------------------------
        Category info - Photo gallery
    -----------------------------------*/
    .category_info .photo_gallery .block_title
    {
        font-size: 20px;
        line-height: 24px;
    }


    .category_info .photo_gallery .row > *
    {
        width: calc(100% - 20px);
    }



    /*-------------------------
        Category info - FAQ
    -------------------------*/
    .category_info .faq .block_title
    {
        font-size: 20px;
        line-height: 24px;
    }


    .category_info .faq .item .data
    {
        margin-right: 0;
    }



    /*------------
        Footer
    ------------*/
    footer .contacts .phone
    {
        font-size: 14px;
    }
}
